@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


:root{
    --prim-color: #FFFFFF;
    --dark-color: #02020A;
    --blue-color: #0C326E;
    --yellow-color: #E99F0C;
    --grey-color: #DFDFE2;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    font-family: 'Belleza', sans-serif;
    color: var(--dark-color);
    /* background-image: url(https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);  */
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

ul{
      list-style-type: none;
      display: flex;
  }

  /* NAVBAR */

.navbar-wrapper{
    overflow: hidden;
    background-color: var(--prim-color);
    padding: 5px 5px;
    position: fixed;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
  }


.navbar-container{
    display: flex;
    padding: 10px 10px;
    color: var(--grey-color);
    justify-content: space-between;
    align-items: center;
  }

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--blue-color);
}

.logo{
  height: 4em;
  width: 4em;
}

.navbar-container a{
      float: left;
      color: var(--blue-color);
      font-weight: bold;
      padding: 0 10px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
  }

.navbar-container a:hover{
  background-color: var(--dark-color);
  color: var(--yellow-color);
  border-radius: 5px;
}

.statement-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* MAIN */

.main-wrapper{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  margin-top: 93px;
  background-repeat: no-repeat;
  background-size: cover;
}

.m-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  color: var(--blue-color);
}

.m-container h1{
  padding: 15px 15px;
}

.m-container p{
  padding: 20px 200px;
  font-size: 20px;
}

.mission{
  max-height: 150px ;
  background-color: var(--yellow-color);
  color: var(--dark-color);
  transition: 0.5s;
}


.story{
  background-color: var(--grey-color);
  transition: 0.5s;
}

.solution{
  background-color: white;
  color: var(--dark-color);
}

.solution img{
  padding: 20px 20px;
  padding-left: 20px;
}

/* Footer */
.footer{
  background-color: var(--blue-color);
  padding: 20px 20px ;
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--prim-color);
}

.footer-container a{
  color: var(--prim-color);
  padding: 10px;
}

