@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
    --prim-color: #FFFFFF;
    --dark-color: #02020A;
    --blue-color: #0C326E;
    --yellow-color: #E99F0C;
    --grey-color: #DFDFE2;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    background-color: var(--prim-color);
    background-image: url(https://images.unsplash.com/photo-1487875961445-47a00398c267?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    font-family: "Lato", sans-serif;
    color: var(--dark-color);
  }

ul{
      list-style-type: none;
      display: flex;
  }

  /* NAVBAR */

.navbar-wrapper{
    background-color: transparent;
    padding: 15px 15px;
  }

.navbar-container{
      display: flex;
      padding: 10px 10px;
      color: var(--prim-color);
      justify-content: space-between;
      align-items: center;
  }

.navbar-container a{
      color: var(--prim-color);
      font-weight: bold;
      padding: 0 10px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
  }

.name{
      font-size: 50px;
  }

/* MAIN */

.main-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 20em;
}

.statement-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement{
    color: var(--prim-color);
    font-family: 'Courgette', cursive;
    font-weight: lighter ;
}

.story-container{
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story-container p{
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--prim-color);
}

.gulati-img{
 max-height: 50%;
 width: auto;
}