@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


:root{
    --prim-color: #FFFFFF;
    --dark-color: #02020A;
    --blue-color: #0C326E;
    --yellow-color:#E99F0C;
    --yellow-color-two:#e9b651;
    --grey-color: #DFDFE2;
    --grey-color2:rgba(223, 223, 226, 0.719);
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    font-family: 'Nunito', sans-serif;
    color: var(--dark-color);
    /* background-image: url(https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);  */
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

ul{
      list-style-type: none;
      display: flex;
  }

  a{
    text-decoration: none;
  }
/* Header section */

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: sticky;
  top:0;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

}

.navbar a{
  float: left;
  color: var(--prim-color);
  font-weight: bold;
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  border-radius: 2px;
}

.navbar a:hover{
  /* background-color: white; */
  border-radius: 5px;
  border: 1px solid white;
  /* color: #02020A; */
  transition: 0.3s ease-in;
}

.logo{
  object-fit: contain;
}

.header{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1556704/pexels-photo-1556704.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: sticky;
  top: 10px;
  z-index: -1;
}

.bus-thesis{
  padding: 90px 90px;
  width: 60%;
  font-size: 60px;
  color: #FFFFFF;
}

/* Stack & Technology */


.technology{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.about-heading{
  padding: 20px 20px;
  margin-right: auto;
  transition: ease-in;
}

.about-heading a{
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: ease-in;
}

.about-heading a:hover{
  color: white;
}

.about-heading:hover{
  border: 1px black solid;
  background-color: black;
}

.main-heading{
  font-size: 40px;
  padding: 20px 40px;
  font-weight: bolder;
}

.main-heading sub{
  font-size: 20px;
}

.our-tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  width: 100%;
  padding: 30px 20px;
}

.h11{
  font-size: 30px;
  padding: 20px 10px;
}

.stack-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.stack-img img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.problem{
  background-color: var(--blue-color);
  color: white;
  width: 100%;
  padding: 30px 20px;
}

.problem p{
  font-size: 20px;
  padding: 20px 80px;
}

.tech-points{
  color: var(--dark-color);
  padding: 80px 20px;
}

.icon{
  padding: 30px 30px;
}

.tech-points h3{
  font-size: 25px;
}

.p1, .p2, .p3{
  width: 100%;
}


.points{
  display: flex;
  flex-direction: row;
}

/* Interest Banner */

.interest-banner{
  background-color: var(--blue-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px; 
}

.interest-banner h1{
  font-size: 45px;
  font-weight: bold;
}

.interest-banner h3{
  padding-bottom: 20px;
}

.interest-banner a{
  padding: 20px;
}

.interest-banner a{
  justify-self: center;
}

.contact-btn{
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: white 2px solid;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.contact-btn:hover{
  background-color: white;
  color: black;
  transform: scale(0.95);
}

/* Credibility Section */

.cred{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: var(--prim-color);
}

.cred h1{
  font-size: 40px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
}

.card-container img{
  width: 100px;
  height: 100px;
}

/* .one, .two, .three, .four, .five, .six{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 0 0;
} */

.one img{
  width: 150px;
  height: 150px;
}

.two img{
  width: 150px;
  height: 150px;
}

.three img{
  width: 250px;
  height: auto;
  padding-top: 25px;
}

.four img{
  width: auto;
  height: 150px;
}

.five img{
  height: 150px;
  width: 150px;
}

.six img{
  width: auto;
  height: 100px;
}

.six h2{
  padding-top: 70px;
}


.card-container .card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */
.footer{
  background-color: black;
  padding: 20px 20px ;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--prim-color);
}

.footer-container a{
  color: var(--prim-color);
  padding: 10px;
}

/* Mobile */
@media(max-width: 768px){

  .main-heading{
    padding-top: 30px;
  }

  .header{
    max-height: 300px;
  }

  .bus-thesis{
    font-size: inherit;
    padding: 125px 30px;
  }

  .logo{
    width: 175px;
  }

  .navbar a{
    padding-top: 10px;
    font-size: 10px;
  }

  .technology{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-heading{
    display: none;
  }

  .points{
    display: flex;
    flex-direction: column;
  }

  .problem p{
    padding: 20px 30px;
  }

  .stack-img img{
    width: inherit;
    height: auto;
  }

  .stack-img img{
    width: 100%;
  }

  .stack-img{
    padding: 20px 20px;
  }

  .main-heading{
    font-size: inherit;
  }

  .interest-banner{
    padding: 20px 20px;
  }

  .card-container{
    display: flex;
    flex-direction: column;
  }

  .our-tech{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

}