@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


:root{
    --prim-color: #FFFFFF;
    --dark-color: #02020A;
    --blue-color: #0C326E;
    --yellow-color:#E99F0C;
    --grey-color: #DFDFE2;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html, body{
    height: 100%;
}
  
body {
    font-family: 'Nunito', sans-serif;
    color: var(--dark-color);
    /* background-image: url(https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);  */
    background-color: black;
    line-height: 1.6;
  }

ul{
      list-style-type: none;
      display: flex;
  }

/* Header section */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: black;
  }
  
  .navbar a{
    float: left;
    color: var(--prim-color);
    font-weight: bold;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    border-radius: 2px;
  }
  
  .navbar a:hover{
    background-color: white;
    border-radius: 5px;
    color: #02020A;
    transition: 0.3s ease-in;
  }

.logo{
  object-fit: contain;
}

/* COntact Form */

.form-container{
    padding-top: 20px;
    height: 960px;
}
.interest-form{
    height: 1000px;
    width: 100%;
}

/* Footer */
.footer{
  background-color: black;
  padding: 20px 20px ;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--prim-color);
}

.footer-container a{
  color: var(--prim-color);
  padding: 10px;
}

/* Message Page */

.message-section{
  display: flex;
  flex-direction: column;
  min-height: max-content;
  color: white;
  justify-content: center;
  align-items: center;
}

.message{
  text-align: center;
  font-size: 45px;
  padding: 50px 50px;
  margin: 0 100px
}

.message-section .social-container a{
  color: white;
}



/* Mobile */
@media(max-width: 768px){

  .header{
    height: auto;
  }

  .bus-thesis{
    font-size: 2em;
    padding: 1.2em 1.2em;
  }

  .logo{
    width: 175px;
  }

  .navbar ul{
    padding-top: 10px;
  }

}

/* Mobile */
@media(max-width: 768px){

    .header{
      height: auto;
    }
  
    .bus-thesis{
      font-size: 2em;
      padding: 1.2em 1.2em;
    }
  
    .navbar a{
        padding-top: 0px;
    }

    .logo{
      width: 175px;
    }

    .form-container{
        height: auto;
    }

    .interest-form{
        height: 1050px;
    }
    
    .message{
      font-size: inherit;
    }

    .message{
      padding: auto;
      margin: auto;
    }

  }
