@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
    --prim-color: #FFFFFF;
    --dark-color: #02020A;
    --blue-color: #0C326E;
    --yellow-color: #E99F0C;
    --grey-color: #DFDFE2;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    font-family: "Lato", sans-serif;
    color: var(--dark-color);
    background-image: url(https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); 
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

ul{
      list-style-type: none;
      display: flex;
  }

  /* NAVBAR */

.navbar-wrapper{
    overflow: hidden;
    background-color: transparent;
    background-color: rgb(237, 245, 250);
    padding: 5px 5px;
    position: fixed;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
  }

.navbar-wrapper:hover{
  background-color: white;
}

.navbar-container{
      display: flex;
      padding: 10px 10px;
      color: var(--grey-color);
      justify-content: space-between;
      align-items: center;
  }

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  height: 4em;
  width: 4em;
}

.navbar-container a{
      float: left;
      color: var(--dark-color);
      font-weight: bold;
      padding: 0 10px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      transition: 0.5s ease-in;
  }

.navbar-container a:hover{
  background-color: var(--yellow-color);
  color: var(--dark-color);
  border-radius: 5px;
}

.statement-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statement{
    color: var(--dark-color);
    font-family: 'Courgette', cursive;
    font-size: 20px;
    font-weight: lighter ;
    padding: 2px 2px;
}

/* MAIN */

.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 120px;
  min-height: 600px;
}

.mission-container{
  background-color: rgba(12, 50, 110, 0.5);
  max-width: 600px;
  padding: 20px 20px ;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.5s ease-in;
  color: var(--prim-color);
}

.mission-container:hover{
  background-color: var(--blue-color);
}

.story-container{
  background-color: rgba(12, 50, 110, 0.5);
  max-width: 600px;
  padding: 20px 20px ;
  border-radius: 8px;
  margin-top: 10px;
  transition: 0.5s ease-in;
  color: var(--prim-color);
}

.story-container:hover{
  background-color: var(--blue-color);
}

/* Footer */
.footer{
  background-color: transparent;
  padding: 20px 20px ;
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.footer-container a{
  color: white;
  padding: 10px;

}

