/* Display */

h1,h2{
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3, p, i{
    padding: 5px 20px;
    text-align: center;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Card */

.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    /* box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); */
    padding: 20px;
    margin: 10px;
    transition: 0.5s;
    justify-content: center;
}

.card:hover{
    /* transform: translateY(5px);
    transform: scale(1.01); */
    background-color: var(--grey-color2);
    /* height: 20px; */
    /* width: 40px; */
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

/* Button */

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline{
    background-color: transparent;
    border: 1px #fff solid
}

.btn:hover{
    transform: scale(0.9);
}

/* Text Sizes */
.lead{
    font-size: 20px;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}

.lg{
    font-size: 3rem;
}

.xl{
    font-size: 4rem;
}

/* Margins */

.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}

.my-4{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}

.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem;
}

.m-4{
    margin: 3rem;
}

.m-5{
    margin: 4rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
  }
  
  .py-2 {
    padding: 1.5rem 0;
  }
  
  .py-3 {
    padding: 2rem 0;
  }
  
  .py-4 {
    padding: 3rem 0;
  }
  
  .py-5 {
    padding: 4rem 0;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .p-2 {
    padding: 1.5rem;
  }
  
  .p-3 {
    padding: 2rem;
  }
  
  .p-4 {
    padding: 3rem;
  }
  
  .p-5 {
    padding: 4rem;
  }